body{
	margin:0;
	padding:0;
}
.maincontainer{
	margin:auto;
	width:1140px;
}
.button1{
	float:right;
	background-color:#c0c0c0;
}
.button2{
	background-color:#00146A;
	color:white;
}
.button3{
	background-color:#00146A;
	color:white;
	float:right;
	margin-right:20px;
}
.container{
	width:100%;
	height:30px;
	background-color:blue;
}
.date{
	width:1140px;
	margin:auto;
	color:white;
	font-family:arial;
	font-size:15px;
	line-height:30px;
	font-weight:bold;
}
.maincontainer1{
	width:1140px;
	margin:auto;
	height:640px;
}
.section{
	height:580px;
	width:250px;
	float:left;
}
.section1{
	height:580px;
	width:890px;
	float:left;
}
.maincontainer2{
	width:100%;
	height:30px;
	background-color:blue;
}
.leftmenu{
	list-style:none;
	margin:0;
	padding:0;
	border:solid 1px #CCC;
	font-family:arial;
	font-size:16px;
	width:220px;
	border-top:none;
}
.leftmenu li{
	border-bottom:solid 1px #CCC;
	padding:10px;
}
.leftmenu li:nth-child(1){
	padding-top:40px;
	color:blue;
	font-weight:bold;
}
.leftmenu li:nth-child(7){
	color:grey;
}
.leftmenu li:nth-child(3){
	color:blue;
	font-weight:bold;
}
.leftmenu li:nth-child(6){
	color:blue;
	font-weight:bold;
}
.leftmenu li:nth-child(5){
	color:blue;
	font-weight:bold;
}
.pm{
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	border-bottom:solid 1px #CCC;
	width:700px;
}
.clickhere{
	border:solid 1px #CCC;
	width:100%;
	text-align:center;
}
.logintable2{
	width:100%;
	font-family:arial;
	font-size:14px;
	border:solid 1px #CCC;
	border-collapse:collapse;
	font-weight:bold;
}
.logintable2 tr{
	border-bottom:solid 1px #CCC;
}
.logintable2 tr:nth-child(1){
	font-weight:bold;
	background-color:#c0c0c0;
}
.logintable2 td{
	padding:3px;
}
.logintable3{
	width:100%;
	font-family:arial;
	font-size:14px;
	border:solid 1px #CCC;
	border-collapse:collapse;
}
.logintable3 td, .logintable3 th{
	border:solid 1px black;
	text-align:center;
	padding:3px;
}
.logintable3 th{
	background-color:#c0c0c0;
}
.logintable3 tr:nth-child(12){
	text-align:left;
}
.a{
	width:180px;
}
